{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Modifier un concert {% endblock %}
{% block body %}
    <h1>Modifier un Concert</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Saisir un Nom" name="Nom" value="{{ concert.Nom }}">
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="Description" rows="3">{{ concert.Description }}</textarea>
        </div>

        <div class="mb-3">
            <input type="date" class="form-control" name="DateConcert" value="{{ concert.DateConcert|date("Y-m-d") }}">
        </div>

        <div class="mb-3">
            <input type="number" class="form-control" placeholder="Saisir un prix" name="Prix" value="{{ concert.Prix }}">
        </div>

        <div class="mb-3">
            <div id="map" style='width: 400px; height: 300px;'></div>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" id="latitude" placeholder="Latitude" name="Latitude" value="{{ concert.Latitude }}">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" id="longitude" placeholder="Longitude" name="Longitude" value="{{ concert.Longitude }}">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nom de la personne à contacter" name="PersonneAContacter" value="{{ concert.PersonneAContacter }}">
        </div>


        <div class="mb-3">
            <input type="file" class="custom-file-input" name="Image">
        </div>
        {% if file_exist( './uploads/images/'~concert.ImageRepository~'/'~concert.ImageFileName ) and concert.ImageFileName !="" %}
            <div class="mb-3">
                <img src="/ProjetPersoPhp/uploads/images/{{ concert.ImageRepository }}/{{ concert.ImageFileName }}" class="img-thumbnail"/>
            </div>
        {% endif %}
        <input type="hidden" name="imageAncienne"  value="{{ concert.ImageRepository}}/{{ concert.ImageFileName}}">

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>


    {% block javascript %}
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
        <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoib2d1bmdqZXIiLCJhIjoiY2xza2o0MHptMDNsYzJtbmF3dHAzZWEwOSJ9.2yo9nCkZU9a9W3AswPXB5A'; // Remplacez par votre clé d'accès Mapbox

            var map = new mapboxgl.Map({
                container: 'map', // Conteneur de la carte
                style: 'mapbox://styles/mapbox/streets-v11', // Style de la carte
                center: [2.35, 48.85], // Coordonnées du centre (Paris par défaut)
                zoom: 12 // Niveau de zoom par défaut
            });

            map.on('click', function(e) {
                document.getElementById('latitude').value = e.lngLat.lat; // Met à jour la valeur du champ Latitude
                document.getElementById('longitude').value = e.lngLat.lng; // Met à jour la valeur du champ Longitude
            });
        </script>
    {% endblock %}


{% endblock %}
